<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.relaycorp.gateway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/data_extraction_old_rules"
        android:theme="@style/Theme.Gateway"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gateway.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:label="@string/onboarding_title_1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gateway.Color" />

        <activity
            android:name=".ui.sync.CourierConnectionActivity"
            android:label="@string/sync_courier_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sync.CourierSyncActivity"
            android:label="@string/sync_courier_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gateway.Color" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.settings.MigrateGatewayActivity"
            android:label="@string/settings_pgw_new"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.settings.LicensesActivity"
            android:label="@string/settings_licenses"
            android:screenOrientation="portrait" />

        <!-- Services -->

        <!-- no custom permission because we can't guarantee the Gateway is installed first -->
        <service
            android:name=".background.endpoint.GatewaySyncService"
            android:exported="true"
            tools:ignore="ExportedService"
            >
            <intent-filter>
                <action android:name="tech.relaycorp.gateway.SYNC"/>
            </intent-filter>
        </service>

        <service
            android:name=".background.endpoint.EndpointPreRegistrationService"
            android:exported="true"
            tools:ignore="ExportedService"
            >
            <intent-filter>
                <action android:name="tech.relaycorp.gateway.ENDPOINT_PRE_REGISTRATION"/>
            </intent-filter>
        </service>

        <!-- Disable WorkManager auto-initialization -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

    <queries>
        <intent>
            <action android:name="tech.relaycorp.endpoint.NOTIFY" />
        </intent>
    </queries>
</manifest>
